    /* header */

.header{
    height: 760px;
    background: url(/imgs/background-top.jpg);
    background-size: cover;
}

.header .header-top{
    padding-top: 16px;
    height: 70px;
}

.header .search input{
    margin-left: 12px;
    height: 36px;
    width: 90%;
    border-radius: 10px;
    border: 1px solid #f1971f;
    padding: 0 16px;
    line-height: 36px;
    outline: none;
}

.header .search .btn{
    margin-left: -24px;
    background: #f1971f;
    height: 54px;
    width: 54px;
    color: white;
    border-radius: 50%;
    margin-top: -4px;
}
.header .search .btn i{
    line-height: 40px;
    font-size: 16px;
}

.header .admin{
    text-align: center;
    margin-top: 10px;
}
.header .admin .user{
    position: relative;
    display: inline-block;
}
.header .admin .user .dropdown-content a{
    display: block;
}
.header .admin .user .dropdown-content {
    width: 100%;
    display: none;
    position: absolute;
    z-index: 1;
    width: 110px;
    color: black;
    background-color: white;
    box-shadow: 0px 0px 5px 5px #e1e1e1;
    border-radius: 5px;
}

.header .admin .user:hover .dropdown-content {
    display: block;
    transition: 0.3s;
}
.header .admin a,.admin .user, .admin .register{
    line-height: 34px;
    color: black;
    font-size: 16px;
    text-decoration: none;
}

.header .admin a:hover, .user:hover{
    color: #f1971f;
    cursor: pointer;
    transition: 0.3s;
}

.header .admin .register .registry{
    margin-left: 8px;
}


.menu-top{
    margin-top: 20px;
    height: 46px;
    line-height: 46px;
}

.menu-top .category{
    width: 254px;
    background-color: #f1971f;
    height: 46px;
    line-height: 46px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    display: inline-block;
}
.menu-top .category-item{
    position: absolute;
    background-color: white;
    border-radius: 5px;
    text-align: left;
    padding-left: 40px;
    display: none;
    width: 100%;
}
.menu-top .category-item a{
    display: block;
    width: 100%;
}

.menu-top .category:hover .category-item{
    display: block;
    transition: 0.4s;
}

.menu-top .category-item  span{
    color: black;
    font-size: 14px;
    margin-left: 8px;
}
.menu-top .category-item  i{
    font-size: 14px;
    color: #f1971f;
}
.menu-top .category-item  a{
    text-decoration: none;
}
.menu-top .category-item  li:hover span{
    color: #f1971f;
    transition: 0.4s;
}


.menu-top .menu-detail{
    text-align: center;
}
.menu-top .menu-detail a{
    margin: 0 10px;
    color: black;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
}
.menu-top .menu-detail a:hover{
    color: #f1971f;
    transition: 0.4s;
}
.menu-top .hotline{
    font-size: 18px;
    margin-left: 64px;
    color: #f1971f;
}

/* end header */



/* box-menu */

.box-menu{
    height:150px;
    width: 100%;
    display: flex;
    background-color: white;
    margin-top: -76px;
    box-shadow: 0px 0px 20px 10px #e3e3e3;
}

.box-menu-item{
    height: 100%;
    width: 25%;
    border: 1px solid rgb(224, 224, 224);
    text-align: center;
}
.box-menu-item .img img{
    height: 60px;
    width: 60px;
}

.box-menu-item .img{
    margin-top: 34px;
    margin-bottom:  8px;
}
.box-menu-item a{
    color: black;
    text-decoration: none;
}
.box-menu-item a:hover span{
    color: #f1971f;
    transition: 0.4s;
}
/* end box-menu */



/* container highlights */

.container-highlights{
    margin-top: 64px;
    height: 600px;
    background-color: white; 
}

.container-highlights-left{
    height: 590px;
    border: 1px solid #f1971f;
    padding: 25px 20px;
}
.container-highlights-left .animation{
    display: block;
    height: 60%;
    overflow: hidden;
}
.container-highlights-left .animation img{
    height: 100%;
    width: 100%;
    transition: 0.5s all ease-in-out;
}
.container-highlights-left .animation:hover img{
    transform: scale(1.3);
}

.container-highlights-left .content{
    text-align: center;
    margin-top: 34px;
}
.container-highlights-left .content .name{
    color: black;
    font-size: 16px;
    text-decoration: none;
}
.container-highlights-left .content .name:hover{
    color: #f1971f;
    transition: 0.3s;
}
.container-highlights-left .content .brand{
    text-transform: uppercase;
    display: block;
    color: gray;
    font-size: 14px;
    margin-top: 16px;
}
.container-highlights-left .content .price{
    display: block;
    color: #f1971f;
    font-size: 24px;
    font-weight: 600;
    margin-top: -10px;
}

.container-highlights-right-header{
    height: 46px;
    border-bottom: 1px solid rgb(230, 228, 228);
    display: flex;
    justify-content: space-between;
    line-height: 46px;
}
.container-highlights-right-header .title{
    background-color: #f1971f;
    padding: 0 16px;
    font-size: 20px;
    color: white;
    font-weight: 500;
    border-radius: 3px;
}
.container-highlights-right-header .all span{
    color: black;
    font-size: 16px;
}
.container-highlights-right-header .all i{
    font-size: 20px;
    color: #f1971f;
    margin-left: 8px;
}
.container-highlights-right-header a{
    text-decoration: none;
}
.container-highlights-right-header a:hover span{
    color: #f1971f;
}


.container-highlights-right-items{
    margin-top: 16px;
    height: calc(590px - 20px - 46px);
}
.container-highlights-right-items .item{
    height: 262px;
}
.container-highlights-right-items .animation{
    height: 69%;
    overflow: hidden;
}

.container-highlights-right-items .animation img{
    width: 100%;
    height: 100%;
    transition: 0.5s all ease-in-out;
}
.container-highlights-right-items .animation:hover img{
    transform: scale(1.3);
}

.container-highlights-right-items .content{
    text-align: center;
    margin-top: 16px;
}
.container-highlights-right-items .content .name{
    text-decoration: none;
    margin-top: 8px;
    color: black;
    font-size: 14pxx;
}
.container-highlights-right-items .content .name:hover{
    color: #f1971f;
    transition: 0.3s;
}
.container-highlights-right-items .content .price{
    color: #f1971f;
    font-size: 18px;
    font-weight: 500;
}

/* end container highlights */



/* banner advertisments */

.adv-banner{
    margin-top:100px;
}

.adv-banner .img{
    width: 100%;
    overflow: hidden;
}
.adv-banner img{
    width: 100%;
    transition: 0.5s all ease-in-out;
}
.adv-banner .img:hover img{
    transform: scale(1.1);
}
/* end banner advertisments */






/* container hot */

.container-hot{
    margin-top: 64px;
    height: 600px;
    background-color: white; 
}

.container-hot-right{
    height: 590px;
    border: 1px solid #f1971f;
    padding: 25px 20px;
}
.container-hot-right  .animation{
    height: 69%;
    display: block;
    overflow: hidden;
}
.container-hot-right .animation  img{
    height: 100%;
    width: 100%;
    transition: 0.5s all ease-in-out;
}
.container-hot-right .animation:hover  img{
    transform: scale(1.3);
}







.container-hot-right .content{
    text-align: center;
    margin-top: 34px;
}
.container-hot-right .content .name{
    color: black;
    font-size: 16px;
    text-decoration: none;
}
.container-hot-right .content .name:hover{
    color: #f1971f;
    transition: 0.3s;
}
.container-hot-right .content .brand{
    display: block;
    color: gray;
    font-size: 14px;
    margin-top: 16px;
}
.container-hot-right .content .price{
    display: block;
    color: #f1971f;
    font-size: 24px;
    font-weight: 600;
    margin-top: -10px;
}

.container-hot-left-header{
    height: 46px;
    border-bottom: 1px solid rgb(230, 228, 228);
    display: flex;
    justify-content: space-between;
    line-height: 46px;
}
.container-hot-left-header .title{
    background-color: #f1971f;
    padding: 0 16px;
    font-size: 20px;
    color: white;
    font-weight: 500;
    border-radius: 3px;
}
.container-hot-left-header .all span{
    color: black;
    font-size: 16px;
}
.container-hot-left-header .all i{
    font-size: 20px;
    color: #f1971f;
    margin-left: 8px;
}
.container-hot-left-header a{
    text-decoration: none;
}
.container-hot-left-header a:hover span{
    color: #f1971f;
}


.container-hot-left-items{
    margin-top: 16px;
    height: calc(590px - 20px - 46px);
}
.container-hot-left-items .item{
    height: 262px;
}
.container-hot-left-items .item .animation{
    height: 69%;
    overflow: hidden;
}
.container-hot-left-items .item .animation img{
    width: 100%;
    height: 100%;
    transition: 0.5s all ease-in-out;
}
.container-hot-left-items .item .animation:hover img{
    transform: scale(1.3);
}

.container-hot-left-items .content{
    text-align: center;
    margin-top: 16px;
}
.container-hot-left-items .content .name{
    text-decoration: none;
    margin-top: 8px;
    color: black;
    font-size: 14pxx;
}
.container-hot-left-items .content .name:hover{
    color: #f1971f;
    transition: 0.3s;
}
.container-hot-left-items .content .price{
    color: #f1971f;
    font-size: 18px;
    font-weight: 500;
}


/* end container hot */




/* banner 2 */

.banner2{
    height: 232px;
    width: 100%;
    margin-top: 64px;
}

.banner2 .img{
    width: 100%;
    overflow: hidden;
}

.banner2 img{
    width: 100%;
    transition: 0.5s all ease-in-out;
}
.banner2 .img:hover img{
    transform: scale(1.1);
}

/* end banner 2 */



/* new products  */

.new-products{
    margin-top: 100px;
}

.new-products-header{
    height: 46px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid rgb(230, 228, 228);
    line-height: 46px;
}
.new-products-header .title{
    background-color: #f1971f;
    padding: 0 16px;
    font-size: 20px;
    color: white;
    font-weight: 500;
    border-radius: 3px;
}

.new-products-header .all span{
    color: black;
    font-size: 16px;
}
.new-products-header .all i{
    font-size: 20px;
    color: #f1971f;
    margin-left: 8px;
}
.new-products-header a{
    text-decoration: none;
}
.new-products-header a:hover span{
    color: #f1971f;
}

.new-products-items{
    margin-top: 16px;
    text-align: center;
}
.new-products-items .item img{
    width: 100%;
}

.new-products-items .content{
    margin-top: 8px;
}
.new-products-items .content .name{
    text-decoration: none;
    color: black;
    font-size: 14px;
}
.new-products-items .content .name:hover{
    color: #f1971f;
    transition: 0.3s;
}
.new-products-items .content .price{
    color: #f1971f;
    font-size: 16px;
    font-weight: 500;
}

/* end new products */



/* footer */

.container-footer1,.tips{
    margin-top: 64px;
}
.container-footer1 img, .tips img{
    width: 100%;
}
.container-footer2 img{
    width: 100%;
}
/* end footer */